<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
    <div class="header-container">   
        <h1>My Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/certificates">Certificates</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
    </header>

    <main>
        <section class="projects">
	    <article>
                <img src="/static/images/project1.jpg" alt="Project 1">
                <h3>Laptop Battery Charging Controller</h3>

                <div class="profile-paragraph"> 
                    <p>The project addresses a problem that many laptop users face: manual charging of laptop batteries, which results in overcharging, electricity
                        waste, and eventually harming or diminishing the battery's lifespan. An automatic universal adaptor that regulates laptop battery charging 
                        utilizing a battery management system, Bluetooth, and extra software is the solution suggested by team members. The adaptor has an Arduino
                        nano and a relay that disconnects power to the laptop when the battery percentage is 99% and enables power to the laptop when the battery
                        percentage is less than 20%. The software can also print the battery status (charging or not charging) and charge percentage on the console.
                    </p>
                </div>

            </article>

            <article>
                <img src="/static/images/project2.jpg" alt="Project 2">
                <h3>Transfer Calculator app</h3>
                <div class="profile-paragraph"> 
                    <p> The app is an interactive tool for solving heat transfer problems in conduction, convection, and radiation. The software enables users 
                        to efficiently compute heat transfer rates by covering major modes such as  heat transfer modes (Ch16), steady heat conduction (ch17) 
                        transient heat conduction (ch 18), convection (Ch. 19) and radiation (Ch. 20) and so on...  
                    </p>

                    <p> A user-friendly graphical interface (GUI) allows for input of variables such as material parameters, temperature 
                        variations, and shape. The software processes these inputs and returns accurate findings  instantaneously. It is an instructive and useful tool for 
                        students and professionals that simplifies complex computations and visually displays the results for better understanding. 
                        Note: the chapters are based on course book taken in the university.
                       
		             </p>
                 </div>
            </article>
            
            <!-- Add more projects here -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 AeroBirdCode. All Rights Reserved.</p>
    </footer>
</body>
</html>
